API_SERVER = "http://172.20.10.2:8000/predict"
# API_SERVER = http://127.0.0.1:8000/predict
API_CONNECTION_TIMEOUT=30000000000000
API_RECEIVE_TIMEOUT=35000000000000000
API_SEND_TIMEOUT=35000000000000000000
0AUTH_CLIENT_ID=webapp
0AUTH_CLIENT_SECRET=webapp
0AUTH_GRANT_TYPE=password
AP_BUILD_MODE=Testing
